<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${skillsRequest}" th:action="@{/skillUpdate}" method="post">
    <div>id : <input th:field="*{skillId}" type="hidden"> <span th:text="*{skillId}"> </span></div>
    <div>skillName<input th:field="*{skillName}"></div>
    <button> 수정하기 </button>
</form>

<form th:action="@{/skillUpdate}" method="post">
    <div>id : <input type="hidden" th:name="skillId" th:id="skillId" th:value="${skillsRequest.skillId}"> <span th:text="${skillsRequest.skillId}"> </span></div>
    <div>skillName: <input th:name="skillName" th:id="skillName" th:value="${skillsRequest.skillName}"></div>
    <button type="submit"> 수정하기 </button>
</form>

</body>
</html>