<!DOCTYPE html>
<html>
<head>
    <title>Geocoding API Example</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9AYeyskwcrm1_A8f_o0maHvMsBIiZ6BI"></script>
    <script>
        function geocodeAddress() {
            var address = document.getElementById('address').value;
            var geocoder = new google.maps.Geocoder();


            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    var lat = results[0].geometry.location.lat();
                    var lng = results[0].geometry.location.lng();
                    document.getElementById('latitude').value = lat;
                    document.getElementById('longitude').value = lng;
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
</head>
<body>
<h1>Geocoding API Example</h1>
<input type="text" id="address" placeholder="Enter address">
<button onclick="geocodeAddress()">Geocode</button>
<br>
<label>Latitude: </label><input type="text" id="latitude" readonly>
<br>
<label>Longitude: </label><input type="text" id="longitude" readonly>
</body>
</html>
