<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee Skill</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Edit Employee Skill</h1>
<form th:action="@{/employees-skills/edit/{id}(id=${employeeSkillRequest.employeesSkillId})}" th:object="${employeeSkillRequest}" method="post">
    <input type="hidden" th:field="*{employeesSkillId}" />

    <label for="employeeId">Employee ID:</label>
    <input type="text" id="employeeId" th:field="*{employeeId}" /><br/>

    <div class="form-group">
        <label for="skillLanguage">Skill Language:</label>
        <select id="skillLanguage" th:field="*{skillLanguage}" required>
            <option th:each="skill : ${skills}" th:value="${skill.skillId}" th:text="${skill.skillName}"
                    th:selected="${skill.skillId} == ${employeeSkillRequest.skillLanguage}">Select Language</option>
        </select>
    </div>

    <label for="skillCareer">Skill Career:</label>
    <input type="text" id="skillCareer" th:field="*{skillCareer}" /><br/>

    <button type="submit">Save</button>
</form>
<a href="/employees-skills">Back to List</a>
</body>
</html>
