<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees Skills</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Employees Skills</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Skill ID</th>
        <th>Skill Name</th>
        <th>Skill Career</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employeesskill : ${employeesskills}">
        <td th:text="${employeesskill.employeesSkillId}"></td>
        <td th:text="${employeesskill.employeeId}"></td>
        <td th:text="${employeesskill.name}"></td>
        <td th:text="${employeesskill.skillLanguage}"></td>
        <td th:text="${employeesskill.skillName}"></td>
        <td th:text="${employeesskill.skillCareer}"></td>
        <td>
            <a th:href="@{/employees-skills/edit/{id}(id=${employeesskill.employeesSkillId})}">Edit</a>
            <a th:href="@{/employees-skills/delete/{id}(id=${employeesskill.employeesSkillId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Skill ID</th>
        <th>Skill Career</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employeesskill : ${employeesskills}">
        <td th:text="${employeesskill.employeesSkillId}"></td>
        <td th:text="${employeesskill.employeeId}"></td>
        <td th:text="${employeesskill.skillLanguage}"></td>
        <td th:text="${employeesskill.skillCareer}"></td>
        <td>
            <a th:href="@{/employees-skills/edit/{id}(id=${employeesskill.employeesSkillId})}">Edit</a>
            <a th:href="@{/employees-skills/delete/{id}(id=${employeesskill.employeesSkillId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/employees-skills/create">Create New Skill</a>
</body>
</html>
