<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>매치 관리</title>
</head>
<body>
<div th:each="f : ${filteredEmployees}">
    <div th:text="'이름 = ' + ${f.getName()}"></div>
    <div th:text="'선호스킬 = '+ ${f.getSkill() != null ? f.getSkill().getSkillName() : 'N/A'}"></div>
    <div th:each="s, stat : ${f.getSkills()}">
        <div th:text="'보유스킬' + (${stat.index} + 1) + ': ' + ${s.getSkill() != null ? s.getSkill().getSkillName() : 'N/A'} + ' ' + ${s.getSkillCareer()} + '개월'"></div>
    </div>
</div>
</body>
</html>
